<body>

<header>
  <div class = "top_button"><a href = "#" id = "top_btn">this is blog</a></div>
</header>


<div class="container">
  <ul class="main_menu">
    <li><a href="#" id="travel-btn">Travel</a></li>
    <li><a href="#" id="stady-btn">Stady</a></li>
    <li><a href="#" id="hobby-btn">Hobby</a></li>
  </ul>
</div>

<h1>Latest Blogs</h1>
<div class = "wrapper">
  <div class = "main_articles">
      <% @articles.each do |article| %>
        <div class="margin1">
          <%= image_tag article.image.variant(resize_to_fill:[300,200],crop:("300x200+0+0")).processed, class:'img-fluid' if article.image.attached? %>
          <div class="article_title">
          <%= article.title %><%= link_to 'Show', article %>
          </div>
          <div class="post_time">
          <%= article.created_at.to_s(:datetime_jp) %>
          <%= article.updated_at.to_s(:datetime_jp) %>
          </div>
        </div>
      <% end %>
  </div>
</div>

<br>

<a class="top_scroll" href="#"><span>Top</span></a>

<%= link_to 'New Article', new_article_path %>

<div class="pageman"><%= paginate @articles%></div>


</body>