<header>
  <div class=top button><a href = "#">网志</a></div>
</header>


<p id="notice"><%= notice %></p>

<h1>投稿記事</h1>
<div class = "main_articles">
  <table>
  <%# <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead> %>

  
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= link_to 'Show', article %></td>
        
      </tr>
    <% end %>
  
  </table>
</div>

<br>

<%= link_to 'New Article', new_article_path %>

<div class="pageman"><%= paginate @articles%></div>


