
<body>



  <header>
    <div class = "top_button"><a href = "#" id = "top_btn">My Travel</a></div>
  </header>




  <div class="container">
    <ul class="main_menu">
      <li><a href="#" id="travel-btn">Travel</a></li>
      <li><a href="#" id="stady-btn">Stady</a></li>
      <li><a href="#" id="hobby-btn">Hobby</a></li>
      <li><a href="#" id="hobby-btn">Daily</a></li>
      <li><a href="#" id="hobby-btn">Friend</a></li>
    </ul>
  </div>

  <h1>Latest Blogs</h1>
  
    <div class = "main_articles">
      <% @articles.each do |article| %>
        <div class="margin1">
          <div class="imager">
            <%= image_tag article.image.variant(resize_to_fill:[270,270],crop:("270x270+0+0")).processed, class:'img-fluid' if article.image.attached? %>
          </div>
          <div class="details">
            <p class="article_title">
              <span><%= article.title %></span>
            </p>
            <p class="post_time">
              <%= article.created_at.to_s(:datetime_jp) %>
            </p>
            <p class="show">
              <%= link_to '続きをみる', article %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  

<br>

  <div id="page_top"><a href="#">TOP</a></div>

  

  



  <div class="pageman"><%= paginate @articles%></div>
  
  <footer>
    <div class="foot_wrapper">
      <div class="content_1">
        <h3>My Travel</h3>
        <p>ruby on rails</p>
        <div class="introduce">
        もう入校してから40日経ちました。時が経つのは早いものですね。このブログは後々自分の備忘録を兼ねたアウトプットの場として大いに使っていく予定です。
        </div>
        <div class="log_in">
        <%= link_to '_', new_article_path %>
        </div>
      </div>
      <div class="content_2">
        <h3>author</h3>
        <div class = "myphoto">
          <%=image_tag 'DSC_0464.png.jpeg', size: '150x100' %>
        </div>
        <div class = "BG">
        旅行とMTGが好きな元医療系営業マンです。最近は中国旅行にはまっています。行った国では必ずその国らしさが溢れるキーホルダーを買って帰ります。
        </div>
      </div>
      <div class="content_3">
        <h4>tag list</h4>
        <div class="tag_list">
          <% @map_list.each do |list| %>
            <%= link_to list.tag_name, articles_path(map_id:list.id)%><%= list.articles.count %>
          <% end %>
        </div>
      </div>
    </div>
  </footer>
</body>